* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7FBC5E;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-bottom: 1em;
}

h3 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.p_admin {
	margin-bottom: 1em;
}

.main-container {
  background-color: #ecf0f1;
  overflow: auto;
  margin-left: 1em;
  margin-bottom: 3em;
  padding: 1em;
}

.main-items {
  padding: 1rem;
  background-color: #ecf0f1;
}

.main-right-menu {
  float: right;
  margin: 0 1em 1em 1em;
  width: 25%;
  background-color: #bdc3c7;
  padding: 1em;
}

.footer {
  text-align: left;
  padding: 1em;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
}

/* Buying cow */
.list_line_buy {
	display: inline-block;
	vertical-align: top;
}

.cow_quantity {
	margin-bottom: 3px;
	padding: 6px 0px;
	background-color: #7f8c8d;
	border: none;
}

.cow_buy {
	background-color: #7F8C8D;
	background-image: url('../img/basket.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 24px 24px;
	padding: 6px 12px;
	border: none;
	cursor: pointer;
	text-indent: -9999px
}

/*======== Displays ========*/
/* a. categories */
ul.tile-mosaic {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 4em;
}

li.tiles {
  max-width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: top;
  padding: 2em;
  margin: 0.5em;
  background-color: #bdc3c7;
}

.tiles img {
  max-width: 200px;
  height: auto;
}

.tiles:hover {
  background-color: #4CAF50;
}

/*======== Right menu list ========*/
.menu-ul {
  list-style: none;
  margin: 0 1em 2em 1em;
  text-align: center;
}

.category {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #4CAF50;
}

.product {
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: #f1c40f;
}

.category:hover, .product:hover {
  background-color: #7f8c8d;
}
