* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7FBC5E;
}

.header {
  height: 100px;
}

.main-container {
  background-color: #ecf0f1;
  padding-bottom: 3em;
  overflow: auto;
  margin-bottom: 3em;
}

.main-items {
  padding: 1rem;
  max-width: 70%;
  background-color: #ecf0f1;
}

.main-right-menu {
  float: right;
  margin: 2%;
  width: 25%;
  background-color: #bdc3c7;
}

.footer {
  padding: 1em;
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
}

/* Iframe stuffs */
.clean-iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}
/*======== Displays ========*/
/* a. categories */
.tiles {
  width: 200px;
  height: 200px;
}

/*======== Listings ========*/
/* a. categories */

/* b. products */
.product_list {
  list-style: none;
}

.products {
  display: inline-block;
}

/* CELLS */
h3 {
  font-size: 1.4em;
  padding: 0.5em;
  margin: 0;
}

p {
  font-size: 0.8em;
  margin: 0.02em;
}

@media (max-width: 1050px)
{

}

@media (max-width: 700px)
{

}

@media (max-width: 460px)
{

}
