/*
0;95;0c * Cowshop CSS
 * @author ctrouill
 */

body {
	background-color: #F5F5F5;
}

/* Apply lato on html elements */
h1 {
	font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-family: Lato;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

blockquote {
	font-family: Lato;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-family: Lato;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}
/* --------- */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.active {
    background-color: #4CAF50;
}

.navbar a {
	font-family: Lato;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
	padding: 18px 18px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}
